body{
	background:#333;
	color:#666;
	font-family: 'Gloria Hallelujah', cursive;
}

h1{
	font-size: 25px;
	text-align:center;
	color:#fff;
}

.clearfix{
	clear:both;
}

#container{
	width:270px;
	overflow:auto;
	margin: auto;
	padding-bottom:5px;
	border-radius:5px;
}

#wins {
	width: 35px;
	font-size:10px;
	color: #4580BA;
	text-align: left;
	float:right;
	margin-top: 5px;
	margin-right: 55px;
}

#players {
	width: 100px;
	font-size:15px;
	float:left;
	margin-top: 5px;
	margin-left: 55px;
}

#players, #wins {
	font-family: 'Permanent Marker', cursive;
	padding:5px;
	border-radius:5px;
	
}

#board li{
	float:left;
	margin:0px;
	height:60px;
	width:60px;
	font-family: 'Permanent Marker', cursive;
	font-size:45px;
	background:#333;
	color:#ccc;
	list-style:none;
	text-align:center;
	border-style: solid;
	border-color: #eee;
}

#board li:hover{
	cursor:pointer;
	background:#555;
	border-radius: 32px 32px 32px 32px;
	border-color: #666;
}

#reset {
	font-family: 'Gloria Hallelujah', cursive;
	font-size:15px;
	border:0;
	background:#D15E5E;
	color:#fff;
	width:65%;
	padding:5px;
	border-radius:5px;
}

#reset:hover{
	background:#EBB5B5;
}

#ex, #oh {
	font-family: 'Gloria Hallelujah', cursive;
	font-size:40px;
	border:0;
	background:#5ED162;
	color:#fff;
	width:35%;
	padding:15px;
	border-radius:5px;
}

#ex {
	background:#D15E5E;
}

#oh {
	background:#5ED162;
}

#ex:hover {
	background:#A32A2A;
}

#oh:hover {
	background:#2AA32F;
	
}

.O {
	color:#5ED162 !important;
}

.X {
	color:#D15E5E !important;
}

footer{
	display:block;
	text-align:center;
	padding-top:5px;
}

#s1, #s2, #s3 {
	border-top-width: 0px;
}

#s3, #s6, #s9 {
	border-right-width: 0px;
}

#s7, #s8, #s9 {
	border-bottom-width: 0px;
}

#s1, #s4, #s7 {
	border-left-width: 0px;
}